{% extends 'base.html' %}
{% block title_h1 %}Ммм!!! Хороший выбор!{% endblock title_h1 %}
{% block content %}
<h1>Приятного аппетита:-)</h1>
<h1>{{ recipe.recipe_name }}</h1>
        {% if recipe.food_image %}
        <p><img src="{{recipe.food_image.url}}" alt="Изображение блюда" width="400"></p>
        {% endif %}
<h2>{{ recipe.recipe_description }}</h2><p><h3>
    Ингредиенты: </h3><p>{{ recipe.ingredients }}</p><p>
<h3>Что делать: </h3><p>{{ recipe.stages_preparation}}</p><p><h3>Время
    приготовления: </h3><p>{{ recipe.time_preparation }} минут</p>
<p><h3>Рецептом поделился: </h3><p>{{ recipe.author }}</p>
{% endblock %}



